.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #424949;
  border: none;
  padding: 8px;
  margin: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50%;
}

button:hover {
  background-color: #C9A81E;
}