.trip-layout {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}

.trip-overview {
    display: flex;
    flex-direction: row;
}

.trip-description {
    text-align: left;
    background-color: black;
    color: white;
    padding: 10px;
    /* height: 50vh; */
    margin: 20px;
}

.day-list {
    flex-grow: 1;
}

.day-item {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px 10px 20px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;

}

.day {
    margin: 10px;
}

.day-details {
    flex-grow: 1;
    margin-left: 10px;
}

.add-button {
    align-self: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
}

.add {
    background-color: black;
    border-radius: 50%;
    padding: 20px;
}

@media screen and (max-width: 650px) {
    .trip-overview {
        flex-direction: column;
    }
}