.trip-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.trip-item {
    width: 21%;
    margin: 15px;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
}

.trip-item > a {
    text-decoration: none;
}

.trip-item > a > h3 {
    text-transform: uppercase;
    color: black;
}

.trip-item > a > h5 {
    color: black;
}

.trip-item > a > p {
    font-size: 12px;
    color: #424949;
}

.trip-item:hover {
    background-color: #C9A81E;
}

@media screen and (max-width: 650px) {
    .trip-list {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .trip-item {
        width: 80%;
    }
}