.page-intro > h1{
    color: #C9A81E;
    margin-bottom: 0;
}

.page-intro > h4 {
    color: white;
    margin-top: 0;;
}

/* .search-list {
    width: 80%;
    align-self: center;
}

.search-item {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
} */

/* .search-item > a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
} */

.trip-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.trip-item {
    width: 21%;
    margin: 15px;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
}

.search-item > a > h3, .search-item > a > h5, .search-item > a > p {
    margin: 0 5px 0 5px;
}
.item {
    text-decoration: none;
}

.item> h3 {
    text-transform: uppercase;
    color: black;
}

.item > h5 {
    color: black;
}

.item > p {
    font-size: 12px;
    color: #424949;
}

.item:hover > h3{
    color: #C9A81E;
}

@media screen and (max-width: 650px) {
    .trip-list {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .trip-item {
        width: 80%;
    }
}