form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

input[type=text], input[type=number] {
    background-color: #D1F2EB;
    border: none;
    margin: 10px 0 10px 0;
    padding: 10px;
}

input[name=name] {
    font-size: 18px;
    font-weight: bold;
}