.search-input {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#search {
    border-radius: 25px;
    border: 2px solid black;
    width: 300px;
    margin-left: 20px;
}
@media screen and (max-width: 850px) {
    /* #search {
        width: 80%;
    } */
    /* .search-input {
        justify-content: center;
    } */
}